a {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 255, 30);
}

p {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
}

body {
    background-color: black;
}
